.ddev
.vscode
.env
.htaccess
config/
ecrire
IMG
local
plugins/auto
plugins-dist
/prive/
sites
squelettes-dist
tmp
/vendor
composer.*
htaccess.txt
index.php
LICENSE
plugins-dist.json
rector.php
SECURITY.md
spip_loader_list.json
spip_loader.php
/spip.*
plugins/thematique/vendor
plugins/thematique/ecs.php

dump/
TMP_SPIP_3
.env
helm/custom.yaml
