.ddev
.vscode
.env
.htaccess
config/
ecrire
IMG
local
plugins/auto
plugins-dist
/prive/
sites
squelettes-dist
tmp
/vendor
composer.*
index.php
rector.php
spip_loader.php
/spip.*

dump/
TMP_SPIP_3
.env
helm/custom.yaml
