* text=auto !eol
base/abstract_mutu.php -text
exec/mutualisation.php -text
images/icon-memory-grey-20.png -text
images/icon-memory-grey.png -text
images/icon-memory.png -text
images/icon-php_info-grey-20.png -text
images/icon-php_info-grey.png -text
images/icon-php_info.png -text
images/icon-plugins-grey-20.png -text
images/icon-plugins-grey.png -text
images/icon-plugins.png -text
images/icon-time-grey-20.png -text
images/icon-time-grey.png -text
images/icon-time.png -text
images/loading.gif -text
inc/dirliste.php -text
inc/dirsize.php -text
lang/mutu.xml -text
lang/mutu_en.php -text
lang/mutu_es.php -text
lang/mutu_fr.php -text
lang/mutualisation.xml -text
lang/paquet-mutualisation.xml -text
lang/paquet-mutualisation_en.php -text
lang/paquet-mutualisation_es.php -text
lang/paquet-mutualisation_fr.php -text
/mes_options.php.txt -text
/mutualisation.css -text
/mutualisation_tailles.js -text
/mutualisation_toolbar.js -text
/mutualisation_upgrade.js -text
/mutualiser.php -text
/mutualiser.png -text
/mutualiser_creer.php -text
/mutualiser_gerer_img.php -text
/mutualiser_upgrade.php -text
/mutualiser_upgradeplugins.php -text
outils/supprimer_site.sh.txt -text
outils/supprimer_site_grmleu_mensuel.sh.txt -text
/paquet.xml -text
/synchronisons.ksh -text
